# Mini-ERA configuration file

# Set if you wish to cross-compile
#DO_CROSS_COMPILATION=y
#COMPILE_TO_ESP=y

# Should always enable this one...
CONFIG_ESP_INTERFACE=y


# This sets the maximum number of any Acceleartor type in this build
#  This should be equal to the largest number of any of CPU, FFT, VIT, etc.
#  But it could be a larger value as well
CONFIG_MAX_ACCEL_ANY_TYPE=3

# This selects the number of CPU Accelerators
CONFIG_NUM_CPU=3
# This selects the number of each Large-Version HWR Acceleartor by type
CONFIG_NUM_VIT=3
CONFIG_NUM_FFT=3
CONFIG_NUM_CV=3
# This selects the number of each Medium-Version HWR Accelerator by type
CONFIG_NUM_MD_VIT=0
# This selects the number of each Small-Version HWR Accelerator by type
CONFIG_NUM_SM_VIT=0
CONFIG_NUM_SM_FFT=0
CONFIG_NUM_SM_CV=0
# This selects the Large-Version Accelerator Speed Scaling (Slowdown) factor
CONFIG_LG_FFT_X=1
CONFIG_LG_VIT_X=1
CONFIG_LG_CV_X=1
# This selects the Small-Version Accelerator Speed Scaling (Slowdown) factor
CONFIG_MD_VIT_X=2
# This selects the Small-Version Accelerator Speed Scaling (Slowdown) factor
CONFIG_SM_FFT_X=2
CONFIG_SM_VIT_X=2
CONFIG_SM_CV_X=2


# This next set ONLY applies to setups that support the hardware acceleratos
#  This means a cross-compile to target the SoC/FPGA
#CONFIG_FFT_EN=y
#CONFIG_FFT_FX=32
#CONFIG_FFT_BITREV=y

#CONFIG_VITERBI_EN=y

# These control the behavior for CV/CNN tasks:
# This is the pure hardware accelerator
#CONFIG_CV_EN=y
# This is a "fake" HWR accelerator
CONFIG_FAKE_CV_EN=y
# This makes CV ONLY use HWR accelerator (Fake or Real)
#CONFIG_CV_ONLY_HWR=y
# This one "turns off" the Tensorflow code...
CONFIG_KERAS_CV_BYPASS=y

# This allows compilation to an executable with LOTS of debugging messages enabled.
# CONFIG_VERBOSE is not set
# CONFIG_VERBOSE=y

# This allows compilation to an executable with T(only) hread-debugging messages enabled.
# CONFIG_DBG_THREADS=y

# This enables use of GDB, etc. (adds symbols to the compilation)
CONFIG_GDB=y
