TaskID 0
TaskName FFT-Task
TaskDescription A 1-D FFT task to execute 
TaskProfile fft_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 1
TaskName RADAR-Task
TaskDescription A Radar task implemented using 1D-FFT
TaskProfile radar_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 2
TaskName CV-Task 
TaskDescription A CV/CNN task to execute
TaskProfile cv_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_cv_accelerator 
TaskDevice2 CV_CNN_ACCEL 
TaskExecuteOnDevice2 execute_hwr_cv_accelerator 

TaskID 3
TaskName VIT-Task 
TaskDescription A Viterbi Decoding task to execute
TaskProfile vit_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 exec_vit_task_on_cpu_accel 
TaskDevice2 VITDEC_ACCEL 
TaskExecuteOnDevice2 exec_vit_task_on_vit_hwr_accel

TaskID 4
TaskName PnC-Task 
TaskDescription The vehicle state Plan and Control task to execute
TaskProfile plan_ctrl_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_on_cpu_plan_ctrl_accelerator 

TaskID 5
TaskName PnC2-Task 
TaskDescription The newer vehicle state Plan and Control task to execute
TaskProfile plan_ctrl2_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_on_cpu_plan_ctrl2_accelerator 



TaskID 6
TaskName VIT_RESET_DEPUNCTURE
TaskDescription A CPU task
TaskProfile cpu_profile
TaskDevice1 CPU_ACCEL 

TaskID 7
TaskName VIT_SETUP
TaskDescription A CPU task
TaskProfile cpu_profile
TaskDevice1 CPU_ACCEL 

TaskID 8
TaskName VIT_POST
TaskDescription A CPU task
TaskProfile cpu_profile
TaskDevice1 CPU_ACCEL 
