TaskID 0
TaskName FFT-Task
TaskDescription A 1-D FFT task to execute 
TaskSetup set_up_fft_task 
TaskPrint print_fft_metadata_block_contents 
TaskRunStats output_fft_task_type_run_stats 
TaskFinishExecution finish_fft_execution 
TaskAutoFinish fft_auto_finish_routine
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 1
TaskName RADAR-Task
TaskDescription A Radar task implemented using 1D-FFT
TaskSetup set_up_radar_task
TaskPrint print_fft_metadata_block_contents 
TaskRunStats output_fft_task_type_run_stats 
TaskFinishExecution finish_radar_execution 
TaskAutoFinish radar_auto_finish_routine
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 2
TaskName CV-Task 
TaskDescription A CV/CNN task to execute
TaskSetup set_up_cv_task
TaskPrint print_cv_metadata_block_contents 
TaskRunStats output_cv_task_type_run_stats 
TaskFinishExecution finish_cv_execution 
TaskAutoFinish cv_auto_finish_routine
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_cv_accelerator 
TaskDevice2 CV_CNN_ACCEL 
TaskExecuteOnDevice2 execute_hwr_cv_accelerator 

TaskID 3
TaskName VIT-Task 
TaskDescription A Viterbi Decoding task to execute
TaskSetup set_up_vit_task
TaskPrint print_viterbi_metadata_block_contents 
TaskRunStats output_vit_task_type_run_stats 
TaskFinishExecution finish_viterbi_execution 
TaskAutoFinish viterbi_auto_finish_routine
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 exec_vit_task_on_cpu_accel 
TaskDevice2 VITDEC_ACCEL 
TaskExecuteOnDevice2 exec_vit_task_on_vit_hwr_accel

TaskID 4
TaskName PnC-Task 
TaskDescription The vehicle state Plan and Control task to execute
TaskSetup set_up_plan_ctrl_task
TaskPrint print_plan_ctrl_metadata_block_contents 
TaskRunStats output_plan_ctrl_task_type_run_stats 
TaskFinishExecution finish_plan_ctrl_execution 
TaskAutoFinish plan_ctrl_auto_finish_routine
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_on_cpu_plan_ctrl_accelerator 
