TaskID 0
TaskName FFT-Task
TaskDescription A 1-D FFT task to execute 
TaskProfile fft_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 1
TaskName RADAR-Task
TaskDescription A Radar task implemented using 1D-FFT
TaskProfile radar_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_fft_accelerator 
TaskDevice2 1D_FFT_ACCEL 
TaskExecuteOnDevice2 execute_hwr_fft_accelerator 

TaskID 2
TaskName CV-Task 
TaskDescription A CV/CNN task to execute
TaskProfile cv_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 execute_cpu_cv_accelerator 
TaskDevice2 CV_CNN_ACCEL 
TaskExecuteOnDevice2 execute_hwr_cv_accelerator 

TaskID 3
TaskName VIT-Task 
TaskDescription A Viterbi Decoding task to execute
TaskProfile vit_profile
TaskDevice1 CPU_ACCEL 
TaskExecuteOnDevice1 exec_vit_task_on_cpu_accel 
TaskDevice2 VITDEC_ACCEL 
TaskExecuteOnDevice2 exec_vit_task_on_vit_hwr_accel

