# Mini-ERA configuration file

# Set if you wish to cross-compile
#DO_CROSS_COMPILATION=y
#COMPILE_TO_ESP=y

# Should always enable this one...
CONFIG_ESP_INTERFACE=y

# This sets the maximum number of Acceleartor types in the scheduler library build
#  Currently this is CPU, FFT, VIT, CV
CONFIG_NUM_ACCEL_TYPES=4

# This selects the number of CPU Accelerators
CONFIG_NUM_CPU=3
# This selects the number of each Version HWR Acceleartor by type
CONFIG_NUM_VIT=0
CONFIG_NUM_FFT=0
CONFIG_NUM_CV=0

# This adds the ability to specify additional (non-critical) tasks to load the scheduler/system.
ALLOW_ADD_BASE_TASKS=y

LOG2_MAX_FFT_SAMPLES=14

# This next set ONLY applies to setups that support the hardware acceleratos
#  This means a cross-compile to target the SoC/FPGA
#CONFIG_FFT_EN=y
#CONFIG_FFT_FX=32
#CONFIG_FFT_BITREV=y
# This flag indicates which FFT version to use, 1 = fft and 2 = fft2
#CONFIG_FFT_ACCEL_VER=1
#FFT_DEVICE_BASE=/dev/fft_stratus
#CONFIG_FFT_ACCEL_VER=2
#FFT_DEVICE_BASE=/dev/fft2_stratus

#CONFIG_VITERBI_EN=y
#VIT_DEVICE_BASE=/dev/vitdodec_stratus

# These control the behavior for CV/CNN tasks:
# This is the pure hardware accelerator
#CONFIG_CV_EN=y
#CNN_DEVICE_BASE=/dev/nvdla
# This is a "fake" HWR accelerator
#CONFIG_FAKE_CV_EN=y
# This makes CV ONLY use HWR accelerator (Fake or Real)
#CONFIG_CV_ONLY_HWR=y
# This one "turns off" the Tensorflow code...
CONFIG_KERAS_CV_BYPASS=y

# This enables use of GDB, etc. (adds symbols to the compilation)
#CONFIG_GDB=y

# This allows compilation to an executable with LOTS of debugging messages enabled.
# CONFIG_VERBOSE is not set
# CONFIG_VERBOSE=y

# This allows compilation to an executable with T(only) hread-debugging messages enabled.
# CONFIG_DBG_THREADS=y

# This allows compilation to an executable with LOTS of debugging messages enabled.
# CONFIG_SUPER_VERBOSE is not set
# CONFIG_SUPER_VERBOSE=y

