# Socket-Connector and GnuRadio SDR Encode/partial-decode configuration file

# These are the settings for the size of the Costmap, etc.
CONFIG_GRID_MAP_X_DIM=100
CONFIG_GRID_MAP_Y_DIM=100
CONFIG_GRID_MAP_RESLTN=2.0
CONFIG_RAYTR_RANGE=100

# This allows compilation to an executable with LOTS of debugging messages enabled.
# CONFIG_DEBUG is not set
# CONFIG_DEBUG=y

# This turns on output of Fused maps into PPM (graphics) files
#CONFIG_FUSED_MAP=y

# This turns on output of ASCII maps into files
#CONFIG_ASCII_MAP=y

# This MAY add some more messages..
# CONFIG_VERBOSE is not set
# CONFIG_VERBOSE=y

# This enables use of GDB, etc. (adds symbols to the compilation)
# CONFIG_GDB=y

# This enables analysis/output of the FFT input range limits
# CONFIG_LIMITS=y

# This enables analysis/output of the number of Inputs/Ouputs to the various functions.
# CONFIG_NUM_IOS=y
